/* reset css */
*{padding: 0;margin: 0;}
a{text-decoration: none;color: #555;}
ul{list-style: none;}
body{font-family: "Microsoft-YahHei";color: #666;}

/* clear float */
.clear::after{
    display: block;
    content: "";
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear{
    zoom:1;
}

/* common css */
.active{
    background-color: #ffcc00;
}

/* contain css*/
.contain{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    background-color: #666;
}
.contain_nav{
    height: 50px;
    background-color: #fff;
}
.contain_nav li{
    float: left;
    width: 25%;
} 
.contain_nav li a{
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}
.contain_banner{
    width: 100%;
    height:450px;
    background-image: url("../images/0.jpg");
    background-repeat:no-repeat center;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}