html,body{
    width: 100%;
    height: 100%;
    background: #f6f7a7;
}
.mao_box{
    width: 100%;
    margin-top: 50px;
}
.mao{
    position: relative;
    width: 400px;
    margin: 0 auto;
    z-index: 1;
}
/* 猫头部 */
.mao_head{
    width: 400px;
    height: 340px;
    background: #f7f7f7;
    border: 2px solid #333;
    border-radius: 50% 50% 35% 35%; /*border-radius的应用*/
    overflow: hidden;
}
.head_huawen{
    width: 180px;
    height: 160px;
    margin: 0 auto;
    border-radius: 0% 0% 50% 50%;
    /*background应用，渐变linear-gradient，一点小技巧，将一个div分成两半的感觉，在以前可能需要再添加一个div覆盖在上面*/
    background: linear-gradient(to right,#f0ac6b 0%,#f0ac6b 50%,#8d8d8d 50%,#8d8d8d 100%);
}
/* 猫耳朵 */
.left_ear,.right_ear{
    position: absolute;
    top: -10px;
    width: 160px;
    height: 200px;
    border: 2px solid #333;
    background: #f3f3f3;
    /*z-index应用，此时-1的参照是.mao,所以猫耳朵其实和mao_box是一个层级*/
    /*若.mao不设置z-index:1,则.mao和.mao_box一个层级且为0，此时设置.mao_ear的z-index:-1,会被.mao_box覆盖在下面*/
    z-index: -1;
}
.left_ear{
    left: 0;
    transform: rotate(-15deg);
    border-radius: 4% 80% 0% 50%;
    transition: transform 1s,left 1s;
}
.right_ear{
    right: 0;
    transform: rotate(15deg);
    border-radius: 80% 4% 50% 0%;
    transition: transform 1s,right 1s;
}
/* 猫眼睛 */
.mao_eye{
    position: absolute;
    display: flex;
    top: 200px;
    left: 50%;
    width: 296px;
    height: 60px;
    justify-content: space-between;
    transform: translateX(-50%);
    overflow: hidden;
}
.left_eye,.right_eye{
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 50%;
}
.left_eye::before,.right_eye::before{
    position: absolute;
    display: block;
    content: '';
    width: 30px;
    height: 100px;
    left: 50%;
    background: #2e2e2e;
    transform: translateX(-50%);
    z-index: 1;
    transition: all 1s;
}
.left_eye::after,.right_eye::after{
    position: absolute;
    display: block;
    content: '';
    width: 180px;
    height: 100px;
    top: 48px;
    left: -40px; /*(180-100)/2*/
    border-top: 2px solid #333; 
    border-radius: 50%;
    background: #f3f3f3;
    z-index: 2;/*覆盖在眼珠子上面*/
    transition: top 1s;
}
/* 猫花纹 */
.mao_huawen{
    position: absolute;
    display: flex;
    width: 380px;
    height: 80px;
    top: 190px;
    left: 50%;
    justify-content: space-between;
    transform: translateX(-50%);
}
.left_huawen{
    position: relative;
    left: 14px;
}
.right_huawen{
    position: relative;
    right: 14px;
    /*将其自身沿着Y轴旋转180deg,即达到与左边进行镜面对映的效果*/
    transform: rotateY(180deg);
}
.huawen_one{
    position: absolute;
    width: 20px;
    height: 6px;
    top: 20px;
    border-radius: 50%;
    background: #e53941;
    transform: rotate(25deg);
}
.huawen_one::before,.huawen_one::after{
    position: absolute;
    display: block;
    content: '';
    width: 30px;
    height: 10px;
}
.huawen_one::before{
    top: -15px;
    border-top: 6px solid #e53941;
    border-radius: 30% 80% 30% 50%;
}
.huawen_one::after{
    top: 10px;
    border-bottom: 4px solid #e53941;
    border-radius: 30% 0% 90% 30%;
}
.huawen_two{
    position: absolute;
    top: 55px;
    left: 10px;
    width: 26px;
    height: 20px;
    border-bottom: 4px solid #e53941;
    border-radius: 30% 0% 90% 30%;
    transform: rotate(30deg);
}
.huawen_three{
    position: absolute;
    top: 72px;
    left: 18px;
    width: 22px;
    height: 10px;
    border-bottom: 3px solid #e53941;
    border-radius: 0% 0% 50% 50%;
    transform: rotate(-15deg);
}
/* 猫脸颊 */
.mao_face{
    position: absolute;
    display: flex;
    width: 300px;
    height: 60px;
    top: 200px;
    left: 50%;
    justify-content: space-between;
    transform: translateX(-50%);
    overflow: hidden;
}
.left_face,.right_face{
    width: 70px;
    height: 28px;
    margin-top: 34px;
    margin-left: 17px;
    border-radius: 50% 50% 50% 50%;
    background: pink;
    opacity: 0.0;
}
.right_face{
    margin-right: 17px;
}
/* 猫鼻子 */
.mao_nose{
    position: absolute;
    top: 252px;
    left: 50%;
    width: 30px;
    height: 10px;
    border-bottom: 8px solid #2e2e2e;
    border-radius: 0% 0% 50% 50%;
    transform: translateX(-50%);
}
/* 猫嘴巴 */
.mao_mouse{
    position: absolute;
    display: flex;
    top: 262px;
    left: 50%;
    width: 108px;
    height: 36px;
    justify-content: space-between;
    transform: translateX(-50%);
    overflow: hidden;
}
.left_mouse,.right_mouse{
    width: 50px;
    height: 40px;
    margin-top: -12px;
    border-bottom: 4px solid #2e2e2e;
    border-right: 4px solid #2e2e2e;
    border-radius: 0% 40% 50% 20%;
    transform: translateX(4px);
    transition: border-radius 1s;
}
.mid_mouse{
    width: 4px;
    height: 8px;
    margin-top: 4px;
    background: #2e2e2e;
}
.right_mouse{
    transform: rotateY(-180deg) translateX(4px);
}
/* 鼠标放在猫上的动画 */
.mao:hover .left_ear{
    left: 10px;
    border-radius: 4% 80% 0% 60%;
    transform: rotate(0deg);
}
.mao:hover .right_ear{
    right: 10px;
    border-radius: 80% 4% 60% 0%;
    transform: rotate(0deg);
}
.mao:hover .left_eye::before,.mao:hover .right_eye::before{
    width: 40px;
    border-radius: 8px;
}
.mao:hover .left_eye::after,.mao:hover .right_eye::after{
    top: 28px;
}
.mao:hover .left_face,.mao:hover .right_face{
    top: 28px;
    opacity: 0.8;
    transition: opacity 0.5s ease-in 0.2s;
}
.mao:hover .left_mouse,.mao:hover .right_mouse{
    border-radius:50% 50% 50% 50%;
    width: 40px;
    transform: translateX(11px);
}
.mao:hover .right_mouse{
    transform: rotateY(-180deg) translateX(11px);
}